In [18]:
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format

In [19]:
fixedGearFile = "GFW-gear/fixed_gear.csv"
fixedGeardf = pd.read_csv(fixedGearFile)
fixedGeardf.head()

,mmsi,timestamp,distance_from_shore,distance_from_port,speed,course,lat,lon,is_fishing,source
0,7572518792420.00,1347663871.00,0.00,36054.62,0.00,0.00,42.80,-8.94,-1.00,gfw
1,7572518792420.00,1348056426.00,0.00,36054.62,0.00,0.00,42.80,-8.95,-1.00,gfw
2,7572518792420.00,1350409469.00,0.00,90970.30,0.00,198.20,43.11,-9.22,-1.00,gfw
3,7572518792420.00,1350410191.00,0.00,90970.30,0.00,186.90,43.11,-9.22,-1.00,gfw
4,7572518792420.00,1350410968.00,0.00,90970.30,0.00,190.50,43.11,-9.22,-1.00,gfw

In [20]:
len(fixedGeardf)

1559137

In [21]:
fixedGeardf.drop_duplicates(subset=['mmsi', 'lat', 'lon', 'is_fishing'], ignore_index=True, inplace=True)
fixedGeardf.head()

,mmsi,timestamp,distance_from_shore,distance_from_port,speed,course,lat,lon,is_fishing,source
0,7572518792420.00,1347663871.00,0.00,36054.62,0.00,0.00,42.80,-8.94,-1.00,gfw
1,7572518792420.00,1348056426.00,0.00,36054.62,0.00,0.00,42.80,-8.95,-1.00,gfw
2,7572518792420.00,1350409469.00,0.00,90970.30,0.00,198.20,43.11,-9.22,-1.00,gfw
3,7572518792420.00,1350410191.00,0.00,90970.30,0.00,186.90,43.11,-9.22,-1.00,gfw
4,7572518792420.00,1350410968.00,0.00,90970.30,0.00,190.50,43.11,-9.22,-1.00,gfw

In [22]:
len(fixedGeardf)

934229

In [23]:
fixedGeardf['source'].value_counts()

gfw                    836230
false_positives         65900
dalhousie_longliner     32099
Name: source, dtype: int64

In [24]:
fixedGeardf.drop(fixedGeardf[fixedGeardf['source'] == 'false_positives'].index, inplace = True)

In [25]:
len(fixedGeardf)

868329

In [26]:
boats = fixedGeardf['mmsi'].unique()
len(boats)

34

In [27]:
fixedGeardf['mmsi'].value_counts()

42314208291274.00     122314
261683006747890.00     79810
106150487182509.00     64149
245558512447234.00     40403
103786638076601.00     37935
149732026109185.00     37270
280291299563683.00     32099
130528914446151.00     31749
7572518792420.00       31719
273352002611600.00     29807
262522671777909.00     28843
139028728648447.00     28719
30054937091173.00      28635
203685766228826.00     27180
185079710227621.00     26973
225986789154693.00     26099
178858950138911.00     25399
184922007900201.00     24561
88780175381729.00      12951
230452925672863.00     12598
85022770160929.00      12523
205198558017191.00     12446
10759394346704.00      12321
59112496180970.00      10869
126605727399747.00     10065
30581813007233.00       9857
81653757071585.00       9834
136929052181490.00      9357
28144259049658.00       8697
181792856256929.00      6220
271648488454992.00      5328
94745481952721.00       4725
53148833486047.00       4392
194716368060295.00      2482
Name: mmsi, dtype: int64

In [11]:
# test run
boat36 = fixedGeardf.loc[fixedGeardf['mmsi'] == 194716368060295.00]
boat36.head()

,mmsi,timestamp,distance_from_shore,distance_from_port,speed,course,lat,lon,is_fishing,source
571234,194716368060295.00,1425817634.00,0.00,2236.01,6.60,318.90,53.93,-3.00,-1.00,gfw
571235,194716368060295.00,1425818503.00,4999.88,7279.93,7.70,353.20,53.95,-3.03,-1.00,gfw
571236,194716368060295.00,1425819284.00,6324.40,9219.32,5.80,253.60,53.96,-3.06,-1.00,gfw
571237,194716368060295.00,1428462692.00,16124.12,80446.77,5.40,1.40,52.90,-4.85,-1.00,gfw
571238,194716368060295.00,1428463715.00,17691.37,76842.11,5.40,10.90,52.92,-4.85,-1.00,gfw

In [12]:
len(boat36)

2482

In [13]:
boat36.to_json(r'../data/fixed_gear_36.json', orient='records')

array([7.57251879e+12, 1.07593943e+13, 2.81442590e+13, 3.00549371e+13,
       3.05818130e+13, 4.23142083e+13, 5.31488335e+13, 5.91124962e+13,
       8.16537571e+13, 8.50227702e+13, 8.87801754e+13, 9.47454820e+13,
       1.03786638e+14, 1.06150487e+14, 1.26605727e+14, 1.30528914e+14,
       1.36929052e+14, 1.39028729e+14, 1.49732026e+14, 1.78858950e+14,
       1.81792856e+14, 1.84922008e+14, 1.85079710e+14, 1.94716368e+14,
       2.03685766e+14, 2.05198558e+14, 2.25986789e+14, 2.30452926e+14,
       2.45558512e+14, 2.61683007e+14, 2.62522672e+14, 2.71648488e+14,
       2.73352003e+14, 2.80291300e+14])

In [28]:
dasBoot = 1
for boat in boats:
    newboat = fixedGeardf.loc[fixedGeardf['mmsi'] == boat]
    newboat.to_json(f'../data/fixed_gear{dasBoot}.json', orient='records')
    print(f'file {dasBoot} complete')
    dasBoot += 1

file 1 complete
file 2 complete
file 3 complete
file 4 complete
file 5 complete
file 6 complete
file 7 complete
file 8 complete
file 9 complete
file 10 complete
file 11 complete
file 12 complete
file 13 complete
file 14 complete
file 15 complete
file 16 complete
file 17 complete
file 18 complete
file 19 complete
file 20 complete
file 21 complete
file 22 complete
file 23 complete
file 24 complete
file 25 complete
file 26 complete
file 27 complete
file 28 complete
file 29 complete
file 30 complete
file 31 complete
file 32 complete
file 33 complete
file 34 complete