In [1]:
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format

In [63]:
trawlerFile = "GFW-gear/pole_and_line.csv"
trawlerdf = pd.read_csv(trawlerFile)
trawlerdf.head()

,mmsi,timestamp,distance_from_shore,distance_from_port,speed,course,lat,lon,is_fishing,source
0,18483455048454.00,1340882344.00,0.00,2236.01,0.00,0.00,28.97,-13.54,-1.00,gfw
1,18483455048454.00,1340884324.00,0.00,2236.01,0.00,125.20,28.97,-13.54,-1.00,gfw
2,18483455048454.00,1340884653.00,0.00,2236.01,0.00,0.00,28.97,-13.54,-1.00,gfw
3,18483455048454.00,1340887925.00,0.00,2236.01,0.00,0.00,28.97,-13.54,-1.00,gfw
4,18483455048454.00,1340925414.00,1999.95,2828.36,8.70,203.10,28.93,-13.54,-1.00,gfw

In [64]:
len(trawlerdf)

161315

In [65]:
trawlerdf.drop_duplicates(subset=['mmsi', 'lat', 'lon', 'is_fishing'], ignore_index=True, inplace=True)
trawlerdf.head()

,mmsi,timestamp,distance_from_shore,distance_from_port,speed,course,lat,lon,is_fishing,source
0,18483455048454.00,1340882344.00,0.00,2236.01,0.00,0.00,28.97,-13.54,-1.00,gfw
1,18483455048454.00,1340884324.00,0.00,2236.01,0.00,125.20,28.97,-13.54,-1.00,gfw
2,18483455048454.00,1340884653.00,0.00,2236.01,0.00,0.00,28.97,-13.54,-1.00,gfw
3,18483455048454.00,1340925414.00,1999.95,2828.36,8.70,203.10,28.93,-13.54,-1.00,gfw
4,18483455048454.00,1340936914.00,14317.47,16030.83,8.60,192.20,28.50,-13.70,-1.00,gfw

In [66]:
len(trawlerdf)

96178

In [67]:
trawlerdf['source'].value_counts()

gfw    96178
Name: source, dtype: int64

In [54]:
trawlerdf.drop(trawlerdf[trawlerdf['source'] == 'false_positives'].index, inplace = True)
len(trawlerdf)

10176671

In [70]:
trawlerdf.drop('source', axis=1, inplace=True)

In [71]:
trawlerdf.head()

               mmsi     timestamp  speed  course   lat    lon  is_fishing
0 18483455048454.00 1340882344.00   0.00    0.00 28.97 -13.54       -1.00
1 18483455048454.00 1340884324.00   0.00  125.20 28.97 -13.54       -1.00
2 18483455048454.00 1340884653.00   0.00    0.00 28.97 -13.54       -1.00
3 18483455048454.00 1340925414.00   8.70  203.10 28.93 -13.54       -1.00
4 18483455048454.00 1340936914.00   8.60  192.20 28.50 -13.70       -1.00

In [72]:
trawlers = trawlerdf['mmsi'].unique()
len(trawlers)

6

In [73]:
trawlerdf['mmsi'].value_counts()

87031415611873.00     35030
18483455048454.00     28844
214572731257568.00    13192
102029098096261.00     8300
47334168288729.00      7220
196184437994412.00     3592
Name: mmsi, dtype: int64

In [74]:
trawlers

array([1.84834550e+13, 4.73341683e+13, 8.70314156e+13, 1.02029098e+14,
       1.96184438e+14, 2.14572731e+14])

In [75]:
dasBoot = 1
for boat in trawlers:
    newboat = trawlerdf.loc[trawlerdf['mmsi'] == boat]
    newboat.to_json(f'../data/pole_and_line/pole_and_line_{dasBoot}.json', orient='records')
    print(f'file {dasBoot} complete')
    dasBoot += 1

file 1 complete
file 2 complete
file 3 complete
file 4 complete
file 5 complete
file 6 complete